/* Styles for .wd-sidebar */

.wd-sidebar {
   
   background-color: black;
   width: 85px; 
   justify-content: flex-start; 
}

.wd-sidebar a {
   display: flex;
   flex-direction: column; /* Stacks icon above text */
   align-items: center; /* Centers items horizontally */
   color: white;
   background-color: black;
   padding: 5px; 
   margin: 5px; 
   text-decoration: none;
}

.wd-sidebar a:hover, .wd-sidebar a.active {
   background-color: white;
   color: red;
}

/* Icon styling */
.wd-sidebar i {
   color: red;
   margin-bottom: 5px; /* Space between icon and text */
}

/* Special color for Account icon */
.wd-sidebar i.fa-user {
   color: white;
}

/* Styles for .wd-secondbar */
.wd-secondbar {
   background-color: white;
   width: 85px; 
   justify-content: flex-start; 
}

.wd-secondbar a {
   display: flex;
   flex-direction: column; /* Stacks icon above text */
   align-items: left; /* Centers items horizontally */
   color: red;
   background-color: white;
   padding: 5px; 
   margin: 5px; 
   text-decoration: none;
}

.wd-secondbar a:hover, .wd-secondbar a.active {
   background-color: red;
   color: white;
}

/* Icon styling for wd-secondbar */
.wd-secondbar i {
   color: red;
   margin-bottom: 5px; /* Space between icon and text */
}
/* Styles for .wd-profilebar */
.wd-profilebar {
   background-color: white;
   width: 85px; 
   justify-content: flex-start; 
}

.wd-profilebar a {
   display: flex;
   flex-direction: column; /* Stacks icon above text */
   align-items: left; /* Aligns items to the left */
   color: red;
   background-color: white;
   padding: 5px; 
   margin: 5px; 
   text-decoration: none;
}

.wd-profilebar a:hover {
   background-color: red;
   color: white;
}

/* For the clicked/active link */
.wd-profilebar a.active {
   color: black;
}

/* Icon styling for wd-profilebar */
.wd-profilebar i {
   color: red;
   margin-bottom: 5px; /* Space between icon and text */
}

.btn-lightgrey {
   background-color: #f2f2f2;
   border: 1px solid gray;
}
