/* Styles for .wd-sidebar */
.wd-sidebar {
   background-color: black;
   width: 85px; 
   justify-content: flex-start; 
}

.wd-sidebar a {
   display: flex;
   flex-direction: column; /* Stacks icon above text */
   align-items: center; /* Centers items horizontally */
   color: white;
   background-color: black;
   padding: 5px; 
   margin: 5px; 
   text-decoration: none;
}

.wd-sidebar a:hover, .wd-sidebar a.active {
   background-color: white;
   color: red;
}

/* Icon styling */
.wd-sidebar i {
   color: red;
   margin-bottom: 5px; /* Space between icon and text */
}

/* Special color for Account icon */
.wd-sidebar i.fa-user {
   color: white;
}

/* Styles for .wd-secondbar */
.wd-secondbar {
   background-color: white;
   width: 85px; 
   justify-content: flex-start; 
}

.wd-secondbar a {
   display: flex;
   flex-direction: column; /* Stacks icon above text */
   align-items: left; /* Centers items horizontally */
   color: red;
   background-color: white;
   padding: 5px; 
   margin: 5px; 
   text-decoration: none;
}

.wd-secondbar a:hover, .wd-secondbar a.active {
   background-color: red;
   color: white;
}

/* Icon styling for wd-secondbar */
.wd-secondbar i {
   color: red;
   margin-bottom: 5px; /* Space between icon and text */
}

@media (max-width: 991px) and (min-width: 768px) {
   /* For medium screens, 3 courses per row */
   .course-card {
       flex: 0 0 calc(33.33333% - 30px); /* width minus margin */
       max-width: calc(33.33333% - 30px);
   }
}

@media (max-width: 767px) {
   /* For small screens, 2 courses per row */
   .course-card {
       flex: 0 0 calc(50% - 30px); /* width minus margin */
       max-width: calc(50% - 30px);
   }
}