.list-group-item {
    display: flex;
    justify-content: space-between;
    
  }
  
  .course-buttons {
    display: flex;
    align-items: end ;
    gap: 8px;  /* Space between buttons */
  }
  
  .course-input-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;  /* Space between input controls and course list */
  }
  